@charset "UTF-8";
/*  common  */
.inner{
  margin:0 auto;
  width:1100px;
}
.clearfix::after{
  content:"";
  clear:both;
  display:block;
}
/*  header  */
.header{
  background-color:#fff;
  width:100%;
  position:fixed;
  top:0px;
  z-index:1;
}
.header-inner{
  padding:15px 0px;
}
.header-icon{
  float:left;
  font-size:3em;
}
.header-contact{
  background-color:#74cfae;
  color:#fff;
  float:right;
  font-size:12px;
}
.header__btn{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
  color:#fff;
  transition-duration:0.3s;
  padding:14px 12px;
}
.header__btn:hover{
  color:#333;
}

/*  main  */

  /*title*/

  .main-title{
    background-color:#f2f2f2;
    width:100%;
    margin-top:78px;
    padding:250px 0px;
  }
  .main-title-title{
    color:#74cfae;
    font-size:90px;
    font-weight:700;
    margin:0 auto;
    margin-bottom:20px;
    text-align:center;
  }
  .main-title-content{
    color:#c0c0c0;
    font-size:30px;
    margin:0 auto;
    text-align:center;
  }

  /*  wwcd  */

  .main-wwcd{
    background-color:#74cfae;
    width:100%;
  }
  .main-wwcd-inner{
    padding-top:50px;
  }
  .main-wwcd-image{
    float:left;
    height:295px;
    padding:0px 100px;
  }
  .main-wwcd-content{
    box-sizing:border-box;
    color:#fff;
    float:right;
    width:692px;
    padding:20px 100px;
    text-align:center;
  }
  .main-wwcd-content-title{
    font-size:24px;
    margin-bottom:35px;
  }
  .main-wwcd-content-text{
    font-size:20px;
  }
  /*  olw  */

  .main-olw{
    width:100%;
    background-color:#f2f2f2;
    color:#333;
  }
  .main-olw-title{
    font-size:24px;
    padding:60px 0px 40px 0px;
    text-align:center;
  }
  .main-olw-content{
    box-sizing:border-box;
    padding:90px 0px 70px;
    text-align:center;
  }
  .main-olw-content-text{
    float:left;
    width:700px;
    padding:0px 90px;
  }
  .main-olw-content-mail{
    background-color:#74cfae;
    display:block;
    float:left;
    font-size:12px;
  }
  .main-olw-content-mail__btn{
    color:#fff;
    display:block;
    padding:14px 20px;
    text-decoration:none;
    transition-duration:0.3s;
  }
  .main-olw-content-mail__btn:hover{
    color:#333;
  }
  .main-olw-image{
    float:left;
    margin:80px 0px 0px 100px;
    opacity:0.7;
    transition-duration:0.3s;
  }
  .main-olw-image:hover{
    opacity:1;
  }
  .main-olw-image:nth-child(3n+1){
    margin-left:0px;
  }
  .main-owl-image:nth-child(-n+3){
    margin-top:0px;
  }

  /*  os  */

  .main-os{
    width:100%;
    background-color:#4e4e4e;
  }
  .main-os-title{
    color:#fff;
    padding:70px;
    text-align:center;
  }
  .main-os-image{
    padding-bottom:100px;
  }
  .main-os-image-content{
    color:#fff;
    float:left;
    font-size:16px;
    margin-left:180px;
    text-align:center:
  }
  .main-os-image-content:first-child{
    margin-left:0px;
  }
  .main-os-image-content figcaption{
    text-align:center;
    padding:10px 0px;
  }

  /*  sns  */

  .main-sns{
    width:100%;
    background-color:#f2f2f2;
  }
  .main-sns-inner{
    padding:200px 0px;
  }
  .main-sns-content{
    display:flex;
    justify-content:center;
  }
  .main-sns-content-image{
    text-align:center;
    color:#74cfae;
    font-size:80px;
    width:185px;
    transition-duration:0.3s;
  }
  .main-sns-content-image:hover{
    background-color:#fff;
  }

/*  footer  */

.footer{
  background-color:#74cfae;
}
.footer-ink{
  color:#fff;
  float:right;
  padding:20px 0 25px;
}
